.line {
  position: absolute;
  width: 1px;
  height: 40%;
  transform: translateY(-50%);
  animation: moveDownAndUp 10s infinite;
}

.innerLine {
  animation: rollDown 10s ease-out 1 forwards, pulseLight 5s ease-in-out 1s infinite; 
  transform: translateX(-50%) scaleY(0);
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 0.5) 50%,
    transparent 100%
  );
  transition: all 0.3s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
}

@keyframes moveDownAndUp {
  0% {
    transform: translateY(-50%) 
  }
  25% {
    transform: translateY(-45%)
  }
  50%, 100% {
    transform: translateY(-50%)
  }
}

.innerDot {
  animation: fadeIn 10s ease-out 1 forwards, pulseLight 5s ease-in-out 1s infinite; 
  top: 50%;
  transform: translate(-40%, -50%) rotate(45deg);
  width: 4px;
  height: 4px;
  background: #ac8b92;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  position: absolute;
}

@keyframes rollDown {
  0% {
    transform: translateX(-50%) scaleY(0);
  }
  10%,
  100% {
    transform: translateX(-50%) scaleY(1);
  }
}

@keyframes fadeIn {
  0%,
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(0);
  }
  20%,
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

@keyframes pulseLight {
  0%, 100% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(2.5);
  }
}