@import "tailwindcss";

@theme {
  --breakpoint-2xl: initial;
  --font-sans: 'Manrope', sans-serif;
  --font-mono: 'Geist Mono', monospace;
  --color-bg: #050303;
  --color-text: #ffffff;
  --animate-shine: shine 3s linear infinite;

  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-sans);
  color: var(--color-text);
}