.card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  
  &:hover .cardContainer {
    background: linear-gradient(to bottom, #353535, #0e0e0e);
  }
}

.cardContent {
  padding: 32px;

  p {
    // max-height: 0;
    // overflow: hidden;
    transition: max-height 0.3s ease-in-out 0s, opacity 0.2s ease-in-out, filter 0.2s ease-in-out 0s;
    filter: blur(2px);
    opacity: 0;
    pointer-events: none;
  }

  &:hover p {
    transition: max-height 0.3s ease-in-out 0.15s, opacity 0.2s ease-in-out, filter 0.2s ease-in-out 0s;
    // max-height: 200px;
    opacity: 1;
    pointer-events: auto;
    filter: blur(0);
  }
}

.cardContainer {
  background: linear-gradient(to bottom, #202020, #0e0e0e);
  transition: background 0.3s ease-in-out;

  &::before {
    content: "";
    background-image: url(/misc/noise.png);
    opacity: 0.65;
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    border-radius: 24px;
  }

  &:after {
    content: "";
    border-radius: 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: linear-gradient(#b8b8b8 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #b8b8b8 calc(100% - 0.5px)), linear-gradient(90deg, #b8b8b8 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #b8b8b8 calc(100% - 0.5px));
    background-size: 16.666666666666668% 16.666666666666668%;
    border: 0.5px solid #b8b8b8;
    opacity: 0.05;

    -webkit-mask-image: radial-gradient(circle at top right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 60%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    mask-image: radial-gradient(circle at top right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 60%);
    mask-repeat: no-repeat;
    mask-size: cover;
  }
}

.borderGlow {
  padding: 1px; /* border thickness */
  background: linear-gradient(to top, #1a1a1a, #7c7c7c);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
          mask-composite: exclude; 
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
}
